@import "scss/mixins";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;   /* TODO: use o-colors */
	color: white;
}

html{
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

body {
	@include flex-container(column);
	font-family: FinancierDisplayWeb, serif;
	font-size: 5vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform-origin: 0 50%;
}

.articles, .config{
	width: 90%;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.articles ol{
	width: 100%;
	height: 100%;
	display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.articles ol li {
	list-style-type: none;
	border: 1px solid white;
	padding: 1em;
	border-width: 1px 1px 1px 15px;
}

.articles h1{
	font-weight: 400;
	font-size: 1em;
	padding: 0px;
	margin: 0px 0px 0.2em;
}

.articles p{
	font-size: 0.6em;
	margin: 0px;
	padding: 0px;
}

.name{
	position: fixed;
	bottom: 0px;
	text-align: center;
	width: 100%;
	left: 0px;
	padding: 0px;
	font-weight: 100;
	font-size: 1em;
	margin: 0px;
}

.config{
	align-items: center;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	width: 100%;
	padding: 0;
}

.config .rotatable{
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	transform-origin: 0 50%;
    transform: rotateX(0deg);
    flex-grow: 1;
}

.config .square{
	width: 250px;
	height: 400px;
	border: 15px solid #FFF;
}

.config .sliderholder{
	width: 10vw;
	background: #252525;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
}

.config .sliderholder .slider{
	width: 100%;
    height: 5vw;
    background: white;
    border-radius: 0 60% 60% 0;
    transform: translateY(45vh);
}

.config .save_config{
	position: fixed;
	width: 50px;
	height: 50px;
	top: 50%;
	right: 10px;
	background: white;
	border-radius: 100%;
	margin-top: -25px;
}

*[data-visible="false"]{
	display: none;
}

*[data-flip="true"]{
    transform: rotateY(180deg);
}