<!DOCTYPE html>
<html class='core' data-flip="true">
<head>
	<meta charset='utf-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<title>FT Dash</title>
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />

	<script>
		var cutsTheMustard = ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);

		if (cutsTheMustard) {
			{{!--/* Swap the `core` class on the HTML element for an `enhanced` one
			 We're doing it early in the head to avoid a flash of unstyled content */--}}
			document.documentElement.className = document.documentElement.className.replace(/\bcore\b/g, 'enhanced');
		}
	</script>
	<link rel="stylesheet" href="/static/main.css" type="text/css" />
	<link rel="stylesheet" href="https://origami-build.ft.com/v1/bundles/css?modules=o-fonts%402.1.0%2Co-ft-icons%402.4.0%2Co-autoinit%401.2.0&shrinkwrap=o-assets%402.0.0" type="text/css">

	<script src="https://origami-build.ft.com/v2/bundles/js?modules=o-errors@^3.3.0"></script>
	<script src="https://polyfill.webservices.ft.com/v2/polyfill.min.js?features=fetch,promise&ua=Mozilla%2F5.0%20(iPad%3B%20CPU%20OS%209_1%20like%20Mac%20OS%20X)%20AppleWebKit%2F601.1.46%20(KHTML%2C%20like%20Gecko)%20Version%2F9.0%20Mobile%2F13B137%20Safari%2F601.1"></script>

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" href="/static/icons/default.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/icons/dash-72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/icons/dash-114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/icons/dash-144.png" />

</head>
<body data-version="{{version}}">

	<div class="articles" data-visible="false">

	</div>

	<div class="config" data-visible="true">
		<div class='rotatable'>
			<div class="square"></div>
		</div>
		<div class="sliderholder">
			<div class="slider"></div>
		</div>

		<div class="save_config"></div>

	</div>

	<h1 class="name">FT Dash</h1>

	{{!--<!--
		Load LAB.js (Loading And Blocking JavaScript) to download the JS files asynchronously, ensuring execution order is kept.
	-->--}}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/labjs/2.0.3/LAB.min.js'></script>

	{{!--<!--
		Load main JavaScript bundle (asynchronously, to make sure it's non-blocking).
	-->--}}
	<script>
	  $LAB
		.script('/static/main.js');
	</script>
</body>
</html>
